<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Tech Posts</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4><br>
        </div>
        <a href="http://localhost:8080/posts/<%=post.id%>"><button>View</button></a>
        <a href="http://localhost:8080/posts/edit/<%=post.id%>"><button>Edit</button></a>
        
        <form action="/posts/<%=post.id%>/?_method=DELETE" method="post">
            <button>Delete</button>
        </form>

    <% } %>
    <br><br><br>
    <a href="http://localhost:8080/posts/new"><button>Click Here To Add New Post</button></a>

</body>
</html>